user = {{ postfixadmin_database_username }}
password = {{ postfixadmin_database_username_password }}
hosts = localhost
dbname = {{ potsfixadmin_database_name }}
query = SELECT goto FROM alias WHERE address='%s' AND active = '1'