user = {{ potsfixadmin_database_name }} 
password = {{ postfixadmin_database_username_password }} 
hosts = localhost
dbname = {{ potsfixadmin_database_name }}
query = SELECT domain FROM domain WHERE domain='%u'